* {
  margin: 0;
  padding: 0%;
}
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, #34e89e, #0f3443);
}
.container h1 {
  font-size: 40px;
  margin-bottom: 5px;
  color: orange;
  text-transform: uppercase;
}
.container p {
  margin-bottom: 10px;
  font-size: 20px;
}
.container button {
  border: none;
  padding: 10px 20px;
  background-color: chocolate;
  font-size: 16px;
  cursor: pointer;
}

#stop {
  margin-right: 10px;
  margin-left: 10px;
}
